{
  "presets": [    
    [
      "next/babel",
      {
        "styled-jsx": {
          "optimizeForSpeed": false
        }
      }
    ]
  ],
  "plugins": [
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ]
  ]  
}
