.heading {
    background-color: ivory;
}
.body {
    padding: 1rem;
}
.specs {
    padding: 1rem;
}
.spec {
    padding: 1rem;
}
.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.gallery {
    padding: 1rem;
}
